body{
    background-image: url('../../assets/img/4.jpg');
    background-attachment: fixed;
    /* background-repeat:inherit; */
    /* background-attachment: scroll; */
    background-position: center;
    background-size:cover;
    /* overflow-x: hidden; */
}